/*

  Requires respond_to.scss and content_layout.scss

*/

/*html.ojp-marquee-loading body {*/
  /*-moz-opacity: 0;*/
  /*-webkit-opacity: 0;*/
  /*-o-opacity: 0;*/
  /*-ms-opacity: 0;*/
  /*opacity: 0;*/
/*}*/

/*html.ojp-marquee-loaded body {*/
  /*-moz-opacity: 1.0;*/
  /*-webkit-opacity: 1.0;*/
  /*-o-opacity: 1.0;*/
  /*-ms-opacity: 1.0;*/
  /*opacity: 1.0;*/
/*}*/

.ojp-marquee {
  position: relative;
  width: 100%;

  & > div {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;

    & > img {
      width: 100%;
      margin: 0 auto -5px auto;
    }
    
    & > div {
      position: absolute;
      width: $content-width;
      left: 50%;
      margin-left: -($content-width / 2);

      @include respond-to('medium') {
        width: auto;
        left: auto;
        margin-left: auto;
      }

      @include respond-to('small') {
        width: auto;
        left: auto;
        margin-left: auto;
      }

      @include respond-to('tiny') {
        width: auto;
        left: auto;
        margin-left: auto;
      }
    }
  }

  & > ul.ojp-marquee-nav {
    position: absolute;
    width: 100%;
    text-align: center;
    list-style: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    li {
      cursor: pointer;
    }
  }
}

