$break-small: 767px;
$break-medium: 959px;
$break-large: 1139px;

@mixin respond-to($media) {
  @if $media == "tiny" {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == "small" {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
  }
  @else if $media == "medium" {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == "large" {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
